---
---

<div class="flex mt-10 justify-center items-center">
  <p class="text-white text-lg tracking-wide">
    © {new Date().getFullYear()}
    <span
      class="underline underline-offset-2 decoration-dotted decoration-red-200"
      >Ayanava</span
    >
    <span
      class="underline underline-offset-2 decoration-dotted decoration-sky-200"
      >Karmakar</span
    >
  </p>
</div>
