<div class="flex mt-10 justify-center items-center">
  <p
    class="text-slate-900 font-extrabold dark:text-white text-xl tracking-wide"
  >
    © {new Date().getFullYear()}
    Ayanava Karmakar
  </p>
</div>
