---
import ThemeToggleButton from "./ThemeToggleButton.astro";
---

<div class="absolute p-5 top-0 right-0">
  <ThemeToggleButton />
</div>

<div class="flex justify-center items-center">
  <article class="prose prose-xl dark:prose-invert m-5">
    <h1
      class="font-extrabold text-center uppercase tracking-wider text-slate-900 dark:text-cyan-50 underline underline-offset-8 decoration-dotted decoration-slate-900 dark:decoration-cyan-50"
    >
      linktree
    </h1>
  </article>
</div>
