---
import ThemeToggleButton from "./ThemeToggleButton.astro";
---

<div class="flex justify-center items-center">
  <article class="prose prose-xl dark:prose-invert m-5">
    <h1
      class="font-extrabold capitalize tracking-wide text-stone-900 dark:text-cyan-50 underline underline-offset-8 decoration-dotted decoration-stone-900 dark:decoration-cyan-100"
    >
      linktree
    </h1>
    <ThemeToggleButton />
  </article>
</div>
