---
---

<div class="flex justify-center items-center">
  <article class="prose prose-xl dark:prose-invert m-5">
    <h1
      class="font-bold uppercase tracking-wide text-cyan-50 underline underline-offset-8 decoration-dotted decoration-cyan-100"
    >
      linktree
    </h1>
  </article>
</div>
