---
import LinkCard from "./LinkCard.astro";
import LinkIcon from "./LinkIcon.astro";
import { Links } from "../utils/Links";
import type { LinkType } from "../utils/Links";
---

<div class="flex flex-col items-center mt-20">
  {
    Links.map((link: LinkType) => {
      const { linkName, linkUrl } = link;

      return (
        <div>
          <LinkIcon />
          <LinkCard linkName={linkName} linkUrl={linkUrl} />
        </div>
      );
    })
  }
  <div></div>
</div>
